.page
{
	width:1190px;
	height: 1684px;
	font-family: Arial;
	font-weight: normal;
	font-size: 17px;
	margin:	auto;
	border: solid;
	display: flex;
}
h1
{
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: 0px;
}
#DV
{
	font-size: 20px;
	float: left;
	vertical-align: top;
	margin-top: 0px;	
}

.prenom
{
	color:#FBC02D;
}
h2
{
	font-size: 28px;

}
.partie2
{
	order: 1;
	width: 380px;
	
	background-color: #FBC02D ;
	float: left;

}

.partie1 
{
	order: 2;
	width: 810px;
	margin-left: 50px;


}
.partie1 h2
{
	border-bottom: 4px solid #FBC02D;
	width: 750px;
	margin-top: 100px;
	line-height: 2em;

	
}



.partie2 h2
{
	font-size: 25px;
	background:#263238;
	color: #FBC02D;
	height: 35px;
	text-align: center;
	padding-top: 15px;


}	

.formation
{
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin-bottom: 50px;
	
}

.experiences
{
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin-bottom: 50px;

}

.date
{
	font-weight: bold;
	font-size: 17px
}

.titre
{
	width:500px;
}

#photo
{
	height: 325px;

}
#contact
{
	margin-top: 300px;
	height: 390px;
}

#apropos
{
	height: 700px;
}

#recommandations
{
	margin-top: 300px;
}

.textecontact
{
	padding-left:50px;
	padding-top: 10px;

}

.texteapropos
{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#logoloisir
{
	font-size: 40px;
	margin-left: 60px;
}