body {
	max-width: 1190px;
	font-family: Arial;
	font-weight: normal;
	font-size: 19px;
	margin:	auto;
	display: flex;
  color: #455A64;
}


.main h1 {
	font-size: 50px;
	margin-top: 120px;
	margin-bottom: 10px;
}


.main header h2 {
	font-size: 25px;
	float: left;
	margin-top: 0px;	
}


.txt_colored {
	color: #FBC02D;
}

.txt_underline {
  border-bottom: 3px solid;
  border-color: #FBC02D;
}

h2 {
	font-size: 28px;
}

.aside {
	order: 1;
	width: 35%;
	background-color: #FBC02D;
	float: left;
}


.main {
	order: 2;
	width: 70%;
	margin-left: 50px;
}

.main .section h2 {
	border-bottom: 4px solid #FBC02D;
	width: 100%;
	margin-top: 10px;
	line-height: 2em;
	text-transform: uppercase;
}

.aside h2 {
	font-size: 25px;
	background: #263238;
	color: #FBC02D;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
}

.formations {
	margin-top: 190px;
}

.recommandations {
  margin-top: 175px;
}






.item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}

.item h3 {
	margin-top: 0px;
	margin-bottom: 0px;
  text-transform: uppercase;
}

.item h4 {
	margin-top: 10px;
	margin-bottom: 5px;
  font-weight: normal;
}

.item p {
	margin-top: 0px;
}

.item__date {
	font-weight: 550;
	font-size: 17px;
}

.item__date .fas {
  font-size: 10px;
  padding-right: 20px;
  vertical-align: 0.2em;
}

.item__date .far {
  font-size: 15px;
  padding-right: 20px;
  vertical-align: 0.2em;
}

.item__content {
	width:70%;
}






.section i {
  color: #FBC02D;
}

.contact {
	margin-top: 10%;
	height: 20%;
}

.recommandations .item {
	display: inherit;
  width: 100%;
}

.recommandations .items__wrapper {
  display: grid;
  grid-template-columns: 1fr  1fr;
  width: 100%;
}

.contact__item {
	padding-left:2.5em;

}

.contact__item h3 {
  margin-bottom: 0px;
  font-weight: 500;
}

.contact__item p {
  margin-top: 0;
}

.apropos__txt {
	padding: 1em 2.5em;
	text-align: justify;
}

.loisirs {
	margin-top: 50%;
}

.loisirs__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 2.5em;
  position: relative;
  bottom: 0.4em;
}

.loisirs__logo .fas {
	font-size: 200%;
  margin-top: 7px;
  color: #424242;
}


.cercle__logo {
  width: 3em;
  height: 3em;
  border:3px solid #424242;
  border-radius: 50%;
  text-align: center;
}

.profile_pic {
  width: 100%;
  border-radius: 50%;
  border: 5px solid;
  border-color: rgba(66,66,66,0.2);
}

.aside figure {
  width: 65%;
  height: auto;
  margin-top: 10%;
  justify-content: center;
  margin-left: 16%;
}

@media screen and (max-width: 720px) {
	.aside {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.main {
		width: 100%;
		margin-left: 1em;
	}
	body {
		flex-direction: column;
		width: auto;
	}
	.aside figure {
		margin-top: 10%;

	}

	.contact {
		margin-top: 0;
	}

	.loisirs {
		margin-top: 0;
	}
}

@media all and (min-width: 720px) and (max-width: 1000px) {
	body {
		flex-direction: column;
		width: auto;
	}
	.aside {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.aside figure {
		margin-top: 10%;
	}

	.main {
		width: 100%;
		margin-left: 1em;
	}

	.contact {
		width: 32%;
		margin-top: 0;
	}

	.apropos {
		width: 65%;
	}

	.loisirs {
		margin-top: 0;
		width: 100%;
	}
}

/* Diplay direction raw 
 650- 1000 px tablettes
 0-650 px mobile
 aside en haut
 validateur
 w3c */
